<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gibt Es Weiße Soße?</title>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: #FFF5EB;
            overflow-x: hidden;
        }
        #imprint {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 15px;
        }
    </style>
</head>
<body>
    <span id="imprint">
        <b>Malaika Göritz, Jonas Drotleff</b>
        <address>
            Sickingenstr. 15 F <br>
            69126 Heidelberg
        </address>
        malaika@gibtesweissesosse.de <br>
        jonas@gibtesweissesosse.de
        <br>
        <a href="{{ url_for('index') }}">Zurück</a>
    </span>
</body>
</html>